<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>已完成订单</title>
		<link rel="icon" href="../img/logo2.ico" type="img/x-ico" />

		<link rel="stylesheet" href="../css/iconfont.css">
		<link rel="stylesheet" href="../css/loading.css">
		<link rel="stylesheet" href="../css/navHead.css">

		<link rel="stylesheet" href="../css/pagination.css" />

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="../js/jquery.kwicks-1.5.1.pack.js"></script>

		<script type="text/javascript" src="../js/config.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>

		<script type="text/javascript" src="../js/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/exif.js"></script>
		<script>
			$(function() {
				$('.nav').kwicks({
					max: 120,
					isVertical: false,
					sticky: false,
					defaultKwick: 0,
					event: 'mouseover',
					spacing: 0,
					duration: 500
				});
			});

			function selectNav(index) {
				$("#navBar1").removeClass("on");
				$("#navBar2").removeClass("on");
				$("#navBar3").removeClass("on");
				$("#navBar4").removeClass("on");
				$("#navBar5").removeClass("on");
				$("#navBar6").removeClass("on");
				$("#navBar7").removeClass("on");
				$("#navBar8").removeClass("on");
				$("#navBar9").removeClass("on");
				$("#navBar10").removeClass("on");

				var idStr = "#navBar" + index;
				$(idStr).addClass("on");
				if(index == '1') {
					window.location.replace('siteList.html');
				} else if(index == '2') {
					window.location.replace('../driver/driverList.html');
				} else if(index == '3') {
					window.location.replace('../master/masterList.html');
				} else if(index == '4') {
					window.location.replace('childSiteList.html');
				} else if(index == '5') {
					window.location.replace('../user/userList.html');
				} else if(index == '6') {
					window.location.replace('../map/mapList.html');
				} else if(index == '7') {
					window.location.replace('../withdrawal/withdrawalList.html');
				} else if(index == '8') {
					window.location.replace('../withdrawal/withdrawalChildList.html');
				} else if(index == '9') {
					window.location.replace('../withdrawal/finishWithdrawaledList.html');
				} else if(index == '10') {
					window.location.replace('siteFinishedOrderList.html');
				}
			}
		</script>
	</head>

	<body>
		<div class="header" id="headerDiv" hidden>
			<div class="logoDiv">
			</div>
			<ul class="nav">
				<li id="siteListNav">
					<a id="navBar1" href="javascript:selectNav('1')">站点列表</a>
				</li>
				<li id="driverListNav">
					<a id="navBar2" href="javascript:selectNav('2')">司机列表</a>
				</li>
				<li id="masterListNav">
					<a id="navBar3" href="javascript:selectNav('3')">货源方列表</a>
				</li>
				<li id="childSiteListNav">
					<a id="navBar4" href="javascript:selectNav('4')">子站点</a>
				</li>

				<li id="userListNav">
					<a id="navBar5" href="javascript:selectNav('5')">人员管理</a>
				</li>
				<li id="mapListNav">
					<a id="navBar6" href="javascript:selectNav('6')">地图展示</a>
				</li>

				<li id="withdrawalListNav">
					<a id="navBar7" class="on" href="javascript:selectNav('7')">站点打款</a>
				</li>

				<li id="withdrawalChildListNav">
					<a id="navBar8" href="javascript:selectNav('8')">子站点打款</a>
				</li>

				<li id="finishWithdrawaledListNav">
					<a id="navBar9" href="javascript:selectNav('9')">打款记录</a>
				</li>

				<li id="siteFinishedOrderListNav">
					<a id="navBar10" class="on" href="javascript:selectNav('10')">已完成订单</a>
				</li>

			</ul>
		</div>
		<div id="app" class="content" hidden>
			<div class="oprationToolBar">
				<div class="filterDiv">
					<div class="nameFilterDiv">
						<div class="filterKeyDiv">查询时间</div>
						<div class="filterValueDiv">
							<input v-model="queryTime" class="filterValueInput" type="month" placeholder="" title="查询时间">
						</div>
					</div>

					<div class="filterOperateBtnDiv">
						<div id="query_btn" class="filterOperateDiv">
							<input type="button" class="filterOperateBtn" value="查询" />
							<i class="iconfont" style="font-size: 20px; margin-top: 15px;">&#xe60e;</i>
						</div>
						<div id="clear_btn" class="filterOperateDiv">
							<input type="button" class="filterOperateBtn" value="清空" />
							<i class="iconfont">&#xe630;</i>
						</div>

					</div>

				</div>
			</div>
			<div class="bigContent">
				<div class="listContent">

					<table class="hovertable" title="">
						<thead>
							<tr>
								<th>#</th>
								<th>订单ID</th>
								<th>车辆类型</th>
								<th>运输距离</th>
								<th>运输费用</th>
								<th>总服务费</th>
								<th>司机所属站点</th>
								<th>服务费</th>
								<th>货主所属站点</th>
								<th>服务费</th>
								<th>所得服务费</th>
								<th>打款状态</th>
								<th>完成时间</th>
							</tr>

						</thead>

						<tr v-for="item in datalist">
							<td>{{item.id}}</td>
							<td>
								<a @click="jumpToOrderDetail(item.orderId,$event)" class="firstBlue" style="cursor: pointer;text-decoration: underline;">{{item.orderId}}</a>
							</td>
							<td>{{item.carTypeName}}</td>
							<td>{{item.distance}} 公里</td>
							<td>{{item.price.toFixed(2)}} 元</td>
							<td>{{item.servicePrice.toFixed(2)}} 元</td>

							<td>
								<a @click="jumpToSite(item.driverSiteId,$event)" class="jumpABold">{{item.driverSiteName}}</td>
							<td>{{countFeeByBelongStr(item.driverBelongSiteType,1,item.servicePrice).toFixed(2)}}</td>
							<td>
								<a @click="jumpToSite(item.masterSiteId,$event)" class="jumpABold">{{item.masterSiteName}}</td>
							<td>{{countFeeByBelongStr(item.masterBelongSiteType,2,item.servicePrice).toFixed(2)}}</td>
							<td style="color: red;">{{countTotalFee(item.driverBelongSiteType,item.masterBelongSiteType,item.servicePrice).toFixed(2)}}</td>
							<td style="color: red;" v-if="judgeWithdrawalStatus(item.driverBelongSiteType, item.masterBelongSiteType, item.driverSiteWithdrawStatus, item.masterSiteWithdrawStatus)">已打款</td>
							<td style="color: gray;" v-else>未打款</td>
							<td>{{datetransform(item.finishTime)}}</td>
						</tr>

					</table>

				</div>
				<div class="hrDiv"></div>
				<div class="countDiv">
					<div class="f-l hejiDiv">合计</div>
					<div class="f-l julushuDiv">记录数：</div>
					<div class="f-l jiluCountDiv">{{itemCount}}</div>
				</div>
				<div class="pages">
					<div id="Pagination"></div>
					<div class="searchPage">
						<span class="page-sum">共<strong class="allPage">1</strong>页</span>
						<span class="page-go">跳转<input type="text">页</span>
						<a href="javascript:;" class="page-btn">GO</a>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script>
		var myDate = new Date();
		var nowMonth = myDate.getFullYear().toString()+ "-" + ((Array(2).join('0') + (myDate.getMonth() + 1)).slice(-2)).toString();
		var vm = new Vue({
			el: '#app',
			data: {
				page: 0,
				pageSize: 15,
				itemCount: 0,
				datalist: [],
				queryTime: nowMonth,

			},
			methods: {

			}
		})

		var state = window.history.state;
		if(state) {
			vm.queryTime = state.queryTime;
		}

		if(sessionStorage.userType == '0') {
			var removeNav = document.getElementById('childSiteListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('withdrawalChildListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('siteFinishedOrderListNav');
			$(removeNav).remove();

			$('#add_btn').addClass('none');
		} else if(sessionStorage.userType == '1') {
			var removeNav = document.getElementById('childSiteListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('userListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('withdrawalChildListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('siteFinishedOrderListNav');
			$(removeNav).remove();

			$('#add_btn').addClass('none');
		} else if(sessionStorage.userType == '3') {
			var removeNav = document.getElementById('siteListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('withdrawalListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('finishWithdrawaledListNav');
			$(removeNav).remove();

			if(sessionStorage.siteType == '2') {
				removeNav = document.getElementById('childSiteListNav');
				$(removeNav).remove();
				removeNav = document.getElementById('withdrawalChildListNav');
				$(removeNav).remove();
			}
		} else if(sessionStorage.userType == '4') {

			var removeNav = document.getElementById('siteListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('userListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('withdrawalListNav');
			$(removeNav).remove();

			removeNav = document.getElementById('finishWithdrawaledListNav');
			$(removeNav).remove();

			if(sessionStorage.siteType == '2') {
				removeNav = document.getElementById('childSiteListNav');
				$(removeNav).remove();
				removeNav = document.getElementById('withdrawalChildListNav');
				$(removeNav).remove();
			}
		}
		$('#headerDiv').show();

		function loadData() {
			$("#Pagination").empty();
			var urlStr = "getFinishedOrderListOnMonth";
			postRegular(urlStr, {
				page: vm.page,
				rows: vm.pageSize,
				siteId: sessionStorage.belongSiteId,
				queryTime: vm.queryTime,
			}, function(data) {
				$('#app').show();
				vm.datalist = data.object.finishedOrderList;
				for(var i = 0; i < vm.datalist.length; i++) {
					var obj = vm.datalist[i];
					obj.id = vm.page * 15 + i + 1;
				}

				vm.itemCount = data.object.finishedOrderListCount;
				$('.allPage').html(Math.ceil(data.object.finishedOrderListCount / vm.pageSize));
				$("#Pagination").pagination(data.object.finishedOrderListCount / vm.pageSize, {
					callback: function(page) { // 回调函数
						vm.page = page;
						loadPageData();
					}
				});
				setTimeout(function() {
						$('tr:even:gt(0)').addClass('tr_even'); //默认偶数行背景色，无视标题行用:gt(0)
						$('tr:odd').addClass('tr_odd'); //默认奇数数行背景色

					}, 50);
			}, function() {

			})
		}
		loadData();

		function loadPageData() {
			var urlStr = "getFinishedOrderListOnMonth";

			postRegular(urlStr, {
				page: vm.page,
				rows: vm.pageSize,
				siteId: sessionStorage.belongSiteId,
				queryTime: vm.queryTime,
			}, function(data) {
				vm.datalist = data.object.finishedOrderList;
				for(var i = 0; i < vm.datalist.length; i++) {
					var obj = vm.datalist[i];
					obj.id = vm.page * 15 + i + 1;
				}
				setTimeout(function() {
						$('tr:even:gt(0)').addClass('tr_even'); //默认偶数行背景色，无视标题行用:gt(0)
						$('tr:odd').addClass('tr_odd'); //默认奇数数行背景色

					}, 50);
			})
		}

		//筛选确认
		$('#query_btn').click(function() {
			vm.page = 0;
			loadData();
			window.history.pushState({
				queryTime: vm.queryTime
			}, "", "siteFinishedOrderList.html");
		})

		//筛选清空
		$('#clear_btn').click(function() {
			vm.queryTime = nowMonth;
			loadData();

		})

		//根据所属站点字符串计算服务费
		function countFeeByBelongStr(belongSiteType, type, totalFee) {
			if(type == '1') {
				if(belongSiteType == '本站点' || belongSiteType == '子站点') {
					return totalFee * 0.3;
				}
				return 0;
			} else {
				if(belongSiteType == '本站点' || belongSiteType == '子站点') {
					return totalFee * 0.5;
				}
				return 0;
			}
		}

		function countTotalFee(driverBelongSiteType, masterBelongSiteType, totalFee) {
			var driverFee = 0;
			var masterFee = 0;
			if(driverBelongSiteType == '本站点' || driverBelongSiteType == '子站点') {
				driverFee = totalFee * 0.3;
			}

			if(masterBelongSiteType == '本站点' || masterBelongSiteType == '子站点') {
				masterFee = totalFee * 0.5;
			}
			return driverFee + masterFee;
		}
		
		function judgeWithdrawalStatus(driverBelongSiteType, masterBelongSiteType, driverSiteWithdrawStatus, masterSiteWithdrawStatus){
			if((driverBelongSiteType == '本站点' || driverBelongSiteType == '子站点') && (masterBelongSiteType == '本站点' || masterBelongSiteType == '子站点')) {
				if(driverSiteWithdrawStatus == '1' && masterSiteWithdrawStatus == '1') {
					return true;
				}
				return false;
			}else if(driverBelongSiteType == '本站点' || driverBelongSiteType == '子站点'){
				if(driverSiteWithdrawStatus == '1') {
					return true;
				}
				return false;
			}else{
				if(masterSiteWithdrawStatus == '1') {
					return true;
				}
				return false;
			}
		}
		//跳转至站点详情
		function jumpToSite(siteId, $event) {
			$event.stopPropagation();
			window.open("siteDetail.html?siteId=" + siteId);
		}
	</script>

</html>