<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>站点详情</title>
		<link rel="icon" href="../img/logo2.ico" type="img/x-ico" />

		<link rel="stylesheet" href="../css/navHead.css">
		<link rel="stylesheet" href="../css/iconfont.css">
		<link rel="stylesheet" href="../css/pagination.css" />
		<link rel="stylesheet" href="../css/loading.css">

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>

		<script type="text/javascript" src="../js/config.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>

		<script type="text/javascript" src="../js/jquery.pagination.js"></script>
	</head>

	<body>
		<div id="app" hidden>
			<div class="detailHeader">
				<div class="nameAndTimeDiv">
					<div class="bigTitleDiv">{{siteName}}</div>
					<div class="timeDiv">
						<div class="createTimeDiv">创建时间：{{datetransform(createTime)}}</div>
						<div class="createTimeDiv">更新时间：{{datetransform(updateTime)}}</div>
					</div>
				</div>

				<div class="detailBaseInfoDiv">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">详细地址：</div>
						<div class="detailvalueDiv">{{siteProvinceName}}{{siteCityName}}{{address}}</div>
					</div>
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">类型：</div>
						<div class="detailvalueDiv">{{siteType == 1 ? "一级站点" : "子站点"}}</div>
					</div>

					<div id="superSiteNameDiv" class="detailKeyValueDiv none">
						<div class="detailKeyDiv ">父站点：</div>
						<div class="detailvalueDiv zhandianTiaozhuanDiv">
							<a @click="jumpToSite()" class="zhandianTiaozhuan">{{superSiteName}}</a>
						</div>
					</div>

					<div id="superSiteRateDiv" class="detailKeyValueDiv none">
						<div class="detailKeyDiv">父站点抽成率：</div>
						<div class="detailvalueDiv">{{childToSuperRate}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">审核状态：</div>
						<div class="detailvalueDiv">{{judgeStatus(siteCheckStatus)}}</div>
					</div>

					<div onclick="checkSite('2')" id="unPassBtnDiv" class="detailPassBtnDiv none">
						<input type="button" class="passBtn" value="拒绝" style="background: red;color: white;" />
						<i class="iconfont" style="color: white;font-size: 13px;">&#xe613;</i>
					</div>

					<div onclick="checkSite('1')" id="passBtnDiv" class="detailPassBtnDiv none" style="margin-right: 0px;">
						<input type="button" class="passBtn" value="审核" />
						<i class="iconfont">&#xe648;</i>
					</div>

				</div>

				<div class="detailBaseInfoDiv">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">法人姓名：</div>
						<div class="detailvalueDiv">{{lawsManName}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">手机号：</div>
						<div class="detailvalueDiv">{{lawsManPhone}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">身份证号：</div>
						<div class="detailvalueDiv">{{lawsManIdCardNumber}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">营业执照号：</div>
						<div class="detailvalueDiv">{{businessLicenseNumber}}</div>
					</div>
				</div>

				<div class="detailPhotoDiv">
					<div class="photoItemDiv f-l">
						<div class="photoTitle" style="color: white;">
							营业执照
						</div>
						<div class="photoPhotoDiv">
							<img id="zhizhaoImg" onclick='showimg1(this)' />
							<input id="ip_zhizhao" class="fr compile-pic" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple hidden="true" onchange="uploadYingYe(this)">
						</div>
					</div>

					<div class="photoarea f-l">
						<div class="photoAreaTitle" style="color: white;">
							场地租赁合同或土地证照片
						</div>
						<div class="show-pic fl">
							<ul id="showul">
								<li id="xz" class='fl'></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
			<div id="show_img" class="i none">
				<img class="i1 sel cursor-pointer" src="../img/ic_close.png" onclick="$('#show_img').addClass('none')" />
				<img class="i2" style="margin: auto;max-width: 80%;max-height: 80%;" src="" />
				<img class="i3 sel cursor-pointer" src="../img/ic_left.png" onclick="switchImg(-1)" />
				<img class="i4 sel cursor-pointer" src="../img/ic_right.png" onclick="switchImg(1)" />
			</div>

			<div id="show_alone_img" class="i none">
				<img class="i1 sel cursor-pointer" src="../img/ic_close.png" onclick="$('#show_alone_img').addClass('none')" />
				<img id="bigAloneImg" class="i2" style="margin: auto;max-width: 80%;max-height: 80%;" src="" />
			</div>

			<div id="listDiv" class="none">
				<ul class="smallnav">
					<li>
						<a id="navBar1" class="on" href="javascript:selectNav('1')">司机列表</a>
					</li>
					<li>
						<a id="navBar2" href="javascript:selectNav('2')">货源方列表</a>
					</li>
					<li id="childSiteListNav" class="none">
						<a id="navBar3" href="javascript:selectNav('3')">子站点</a>
					</li>
					<li>
						<a id="navBar4" href="javascript:selectNav('4')">订单列表</a>
					</li>

				</ul>
				<div class="bigContent" style="margin-top: 3px;">
					<div class="listContent">

						<table class="hovertable" title="" id="table1">
							<thead>
								<tr>
									<th>#</th>
									<th>司机姓名</th>
									<th>车牌号</th>
									<th>联系电话</th>
									<th>车辆类型</th>
									<th>评分</th>
									<th>注册时间</th>
									<th>更新时间</th>
								</tr>

							</thead>

							<tr v-for="item in datalist1" @click="openItemDetailPage(item.userId)" onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
								<td>{{item.id}}</td>
								<td>{{item.nickname}}</td>
								<td>{{item.plateNumber}}</td>
								<td>{{item.phoneNumber}}</td>
								<td>{{item.vehicleTypeName}}</td>

								<td>{{item.score.toFixed(1)}}</td>
								<td>{{datetransform(item.createTime)}}</td>
								<td>{{datetransform(item.updateTime)}}</td>

							</tr>

						</table>

						<table class="hovertable none" title="" id="table2">
							<thead>
								<tr>
									<th>#</th>
									<th>货主姓名</th>
									<th>联系电话</th>
									<th>身份证号</th>
									<th>主营货物</th>
									<th>评分</th>
									<th>注册时间</th>
									<th>更新时间</th>
								</tr>

							</thead>

							<tr v-for="item in datalist2" @click="openItemDetailPage(item.userId)" onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
								<td>{{item.id}}</td>
								<td>{{item.nickname}}</td>
								<td>{{item.phoneNumber}}</td>
								<td>{{item.userIdCardNumber}}</td>
								<td>{{item.mainGoodsName}}</td>

								<td>{{item.score.toFixed(1)}}</td>
								<td>{{datetransform(item.createTime)}}</td>
								<td>{{datetransform(item.updateTime)}}</td>

							</tr>

						</table>

						<table class="hovertable none" title="" id="table3">
							<thead>
								<tr>
									<th>#</th>
									<th>站点名称</th>
									<th>站点类型</th>
									<th>地址</th>
									<th>审核状态</th>
									<th>法人姓名</th>
									<th>提成率</th>
									<th>注册时间</th>
									<th>更新时间</th>
								</tr>

							</thead>

							<tr v-for="item in datalist3" @click="openItemDetailPage(item.siteId)" onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
								<td>{{item.id}}</td>
								<td>{{item.siteName}}</td>
								<td>{{item.siteType == 1 ? "一级站点" : "子站点"}}</td>
								<td>{{item.siteProvinceName}}{{item.siteCityName}}{{item.address}}</td>
								<td>{{judgeStatus(item.siteCheckStatus)}}</td>
								<td>{{item.lawsManName}}</td>
								<td>{{item.childToSuperRate}}</td>
								<td>{{datetransform(item.createTime)}}</td>
								<td>{{datetransform(item.updateTime)}}</td>

							</tr>

						</table>

						<table class="hovertable none" title="" id="table4">
							<thead>
								<tr>
									<th>订单列表待添加</th>
								</tr>

							</thead>

							<tr v-for="item in datalist4" @click="openItemDetailPage(item.siteId)" onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">

							</tr>

						</table>

					</div>
					<div class="hrDiv"></div>
					<div class="countDiv">
						<div class="f-l hejiDiv">合计</div>
						<div class="f-l julushuDiv">记录数：</div>
						<div class="f-l jiluCountDiv">{{itemCount}}</div>
					</div>
					<div class="pages">
						<div id="Pagination"></div>
						<div class="searchPage">
							<span class="page-sum">共<strong class="allPage">1</strong>页</span>
							<span class="page-go">跳转<input type="text">页</span>
							<a href="javascript:;" class="page-btn">GO</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script>
		var siteId = getQueryString("siteId");

		function loadSiteDetailData() {
			postRegular('getInfoById', {
				siteId: siteId,
			}, function(data) {
				$('#app').show();
				vm.siteId = data.object.site.siteId;
				vm.siteName = data.object.site.siteName;
				vm.businessLicenseNumber = data.object.site.businessLicenseNumber;
				vm.lawsManName = data.object.site.lawsManName;
				vm.lawsManIdCardNumber = data.object.site.lawsManIdCardNumber;
				vm.lawsManPhone = data.object.site.lawsManPhone;
				vm.address = data.object.site.address;
				vm.siteProvinceName = data.object.site.siteProvinceName;
				vm.siteCityName = data.object.site.siteCityName;
				vm.businessLicensePhoto = data.object.site.businessLicensePhoto;
				vm.heTongImageArray = data.object.site.leaseContractPhoto.split(',');
				vm.createTime = data.object.site.createTime;
				vm.updateTime = data.object.site.updateTime;

				vm.siteType = data.object.site.siteType;
				vm.siteCheckStatus = data.object.site.siteCheckStatus;
				vm.childToSuperRate = data.object.site.childToSuperRate;
				vm.superSiteId = data.object.site.superSiteId;
				vm.superSiteName = data.object.site.superSiteName;

				if(vm.siteType == '2') {
					$('#superSiteNameDiv').removeClass('none');
					$('#superSiteRateDiv').removeClass('none');
					if(vm.siteCheckStatus == '0' && (sessionStorage.userType == '0' || sessionStorage.userType == '1')) {
						$('#passBtnDiv').removeClass('none');
						$('#unPassBtnDiv').removeClass('none');

					}

				}
				for(var i = 0; i < vm.heTongImageArray.length; i++) {
					var str = vm.heTongImageArray[i];
					$("#xz").before(
						"<li class='fl'>" +
						"<div class='muteImgDiv'>" +
						"<img class='showBigImg' onclick='showimg(this)' src='" + ip + str + "'/>" +
						"<input type='hidden' name='yinyezhihao' value=''/>" +
						"</div>" +
						"</li>");

				}

				$('#zhizhaoImg').attr('src', ip + vm.businessLicensePhoto);
				$('#bigAloneImg').attr('src', ip + vm.businessLicensePhoto);

				if(vm.siteType == '1') {
					$('#childSiteListNav').removeClass('none');
				}
				$('#listDiv').removeClass('none');

			}, function() {

			})
		}
		loadSiteDetailData();

		var vm = new Vue({
			el: '#app',
			data: {
				currentListType: '1',

				siteId: '',
				siteName: '',
				businessLicenseNumber: '',
				lawsManName: '',
				lawsManIdCardNumber: '',
				lawsManPhone: '',
				siteProvinceName: '',
				siteCityName: '',
				address: '',
				heTongImageArray: [],
				businessLicensePhoto: '',
				siteType: '',
				siteCheckStatus: '',
				childToSuperRate: '',
				superSiteId: '',
				superSiteName: '',
				createTime: '',
				updateTime: '',

				page: 0,
				pageSize: 15,
				itemCount: 0,
				datalist1: [],
				datalist2: [],
				datalist3: [],
				datalist4: [],
			},
			methods: {

			}
		})

		function loadData() {
			var url = '';
			var data;
			if(vm.currentListType == '1') {
				url = 'getDriverList';
				data = {
					page: vm.page,
					rows: vm.pageSize,
					filterDriverName: '',
					filterPlateNumber: '',
					siteId: siteId
				};
			} else if(vm.currentListType == '2') {
				url = 'getMasterList';
				data = {
					page: vm.page,
					rows: vm.pageSize,
					filterMasterName: '',
					filterPhoneNumber: '',
					siteId: siteId
				};
			} else if(vm.currentListType == '3') {
				url = 'getSiteList';
				data = {
					page: vm.page,
					rows: vm.pageSize,
					filterSiteName: '',
					filterLawsManName: '',
					filterBeginTime: '',
					filterEndTime: '',
					superSiteId: siteId
				};

			} else if(vm.currentListType == '4') {
				return;
			}

			$("#Pagination").empty();
			postRegular(url, data,
				function(data) {

					if(vm.currentListType == '1') {
						for(var i = 0; i < data.object.driverList.length; i++) {
							var obj = data.object.driverList[i];
							obj.id = i + 1;
						}
						vm.datalist1 = data.object.driverList;
						vm.itemCount = data.object.driverCount;
					} else if(vm.currentListType == '2') {
						for(var i = 0; i < data.object.masterList.length; i++) {
							var obj = data.object.masterList[i];
							obj.id = i + 1;
						}
						vm.datalist2 = data.object.masterList;
						vm.itemCount = data.object.masterCount;
					} else if(vm.currentListType == '3') {
						for(var i = 0; i < data.object.siteList.length; i++) {
							var obj = data.object.siteList[i];
							obj.id = i + 1;
						}
						vm.datalist3 = data.object.siteList;
						vm.itemCount = data.object.siteCount;
					} else if(vm.currentListType == '4') {
						return;
					}

					$('.allPage').html(Math.ceil(vm.itemCount / vm.pageSize));
					$("#Pagination").pagination(vm.itemCount / vm.pageSize, {
						callback: function(page) { // 回调函数
							vm.page = page;
							loadPageData();
						}
					});
				},
				function() {

				})
		}
		loadData();

		function loadPageData() {
			var url = '';
			var data;
			if(vm.currentListType == '1') {
				url = 'getDriverList';
				data = {
					page: vm.page,
					rows: vm.pageSize,
					filterDriverName: '',
					filterPlateNumber: '',
					siteId: siteId
				};
			} else if(vm.currentListType == '2') {
				url = 'getMasterList';
				data = {
					page: vm.page,
					rows: vm.pageSize,
					filterMasterName: '',
					filterPhoneNumber: '',
					siteId: siteId
				};
			} else if(vm.currentListType == '3') {
				url = 'getSiteList';
				data = {
					page: vm.page,
					rows: vm.pageSize,
					filterSiteName: '',
					filterLawsManName: '',
					filterBeginTime: '',
					filterEndTime: '',
					superSiteId: siteId
				};
			} else if(vm.currentListType == '4') {
				return;
			}
			postRegular(url, data, function(data) {

				if(vm.currentListType == '1') {
					for(var i = 0; i < data.object.driverList.length; i++) {
						var obj = data.object.driverList[i];
						obj.id = i + 1;
					}
					vm.datalist1 = data.object.driverList;
				} else if(vm.currentListType == '2') {
					for(var i = 0; i < data.object.masterList.length; i++) {
						var obj = data.object.masterList[i];
						obj.id = i + 1;
					}
					vm.datalist2 = data.object.masterList;
				} else if(vm.currentListType == '3') {
					for(var i = 0; i < data.object.siteList.length; i++) {
						var obj = data.object.siteList[i];
						obj.id = i + 1;
					}
					vm.datalist3 = data.object.siteList;
				} else if(vm.currentListType == '4') {
					return;
				}

			})
		}

		function checkSite(siteCheckStatus) {
			postRegular('checkSite', {
				siteId: vm.siteId,
				siteCheckStatus: siteCheckStatus,
			}, function(data) {
				window.location.reload();
			})
		}

		function showimg1(obj) {
			$('#show_alone_img').removeClass('none');
		}

		function showimg(obj) {
			index = $(obj).parent().parent().index();
			var src = ip + vm.heTongImageArray[index];
			$('#show_img').removeClass('none');
			$('#show_img .i2').attr('src', src);
		}

		function switchImg(num) {
			index += num;
			var src;
			if(index < 0) {
				index = vm.heTongImageArray.length - 1;
			} else if(index >= vm.heTongImageArray.length) {
				index = 0;
			}
			src = ip + vm.heTongImageArray[index];
			$('#show_img .i2').attr('src', src);
		}

		//跳转至站点详情
		function jumpToSite() {
			window.open("siteDetail.html?siteId=" + vm.superSiteId);
		}

		$(function() {
			$('.nav').kwicks({
				max: 120,
				isVertical: false,
				sticky: false,
				defaultKwick: 0,
				event: 'mouseover',
				spacing: 0,
				duration: 500
			});
		});

		function selectNav(index) {
			$("#navBar1").removeClass("on");
			$("#navBar2").removeClass("on");
			$("#navBar3").removeClass("on");
			$("#navBar4").removeClass("on");

			var idStr = "#navBar" + index;
			$(idStr).addClass("on");
			if(index == '1') {
				vm.currentListType = '1';
				$('#table1').removeClass('none');
				$('#table2').addClass('none');
				$('#table3').addClass('none');
				$('#').addClass('none');
			} else if(index == '2') {
				vm.currentListType = '2';
				$('#table2').removeClass('none');
				$('#table1').addClass('none');
				$('#table3').addClass('none');
				$('#table4').addClass('none');

			} else if(index == '3') {
				vm.currentListType = '3';
				$('#table3').removeClass('none');
				$('#table1').addClass('none');
				$('#table2').addClass('none');
				$('#table4').addClass('none');

			} else if(index == '4') {
				vm.currentListType = '4';
				$('#table4').removeClass('none');
				$('#table1').addClass('none');
				$('#table2').addClass('none');
				$('#table3').addClass('none');
			}
			loadData();
		}

		//点击查看详情
		function openItemDetailPage(itemId) {
			if(vm.currentListType == '1') {
				window.open("driverDetail.html?driverId=" + itemId);
			} else if(vm.currentListType == '2') {
				window.open("masterDetail.html?masterId=" + itemId);
			} else if(vm.currentListType == '3') {
				window.open("siteDetail.html?siteId=" + itemId);
			} else if(vm.currentListType == '4') {

			}

		}
	</script>

</html>