<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>子站点打款详情</title>
		<link rel="icon" href="../img/logo2.ico" type="img/x-ico" />

		<link rel="stylesheet" href="../css/iconfont.css">
		<link rel="stylesheet" href="../css/loading.css">
		<link rel="stylesheet" href="../css/navHead.css">

		<link rel="stylesheet" href="../css/pagination.css" />

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="../js/jquery.kwicks-1.5.1.pack.js"></script>

		<script type="text/javascript" src="../js/config.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>

		<script type="text/javascript" src="../js/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/exif.js"></script>
	</head>

	<body>
		<div id="app" class="content">
			<div style="width: 100%;height: 80px;">
				<div class="orderHeadTitleDiv">{{siteName}}</div>
				<div v-if="type=='3'" class="orderTotalDiv">司机订单提成总计：{{fee}} 元</div>
				<div v-else class="orderTotalDiv">货主订单提成总计：{{fee}} 元</div>
			</div>

			<div class="bigContent">
				<div class="listContent">

					<table class="hovertable" title="">
						<thead>
							<tr>
								<th>#</th>
								<th>子站点名称</th>
								<th>法人姓名</th>
								<th v-if="type=='3'">站点司机提成</th>
								<th v-else>站点货主提成</th>
							</tr>

						</thead>

						<tr v-for="item in datalist">
							<td>{{item.id}}</td>
							<td>
								<a @click="jumpToSite(item.siteId,$event)" class="jumpABold">{{item.siteName}}</a>
							</td>
							<td>{{item.nickname}}</td>
							<td v-if="type=='3'" style="color: orange;">{{item.registerDriverFee == null?0:item.registerDriverFee}} 元
								<div class="oprateDiv">
									<a @click="transfer(item.siteId, 1, item.siteName, item.registerDriverFee == null?'0':item.registerDriverFee)">详情</a>
								</div>
							</td>
							<td v-else style="color: orange;">{{item.registerGoodsManFee == null?0:item.registerGoodsManFee}} 元
								<div class="oprateDiv">
									<a @click="transfer(item.siteId, 2, item.siteName, item.registerGoodsManFee == null?'0':item.registerGoodsManFee)">详情</a>
								</div>
							</td>

						</tr>

					</table>

				</div>
				<div class="hrDiv"></div>
				<div class="countDiv">
					<div class="f-l hejiDiv">合计</div>
					<div class="f-l julushuDiv">记录数：</div>
					<div class="f-l jiluCountDiv">{{itemCount}}</div>
				</div>
				<div class="pages">
					<div id="Pagination"></div>
					<div class="searchPage">
						<span class="page-sum">共<strong class="allPage">1</strong>页</span>
						<span class="page-go">跳转<input type="text">页</span>
						<a href="javascript:;" class="page-btn">GO</a>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script>
		var siteId = getQueryString("siteId");
		var siteName = getQueryString("siteName");
		var fee = getQueryString("fee");
		var type = getQueryString("type");
		var currentMonth = getQueryString("currentMonth");

		var vm = new Vue({
			el: '#app',
			data: {
				page: 0,
				pageSize: 10,
				itemCount: 0,
				datalist: [],

				filterSiteName: '',
				filterLowsManName: '',

			},
			methods: {

			}
		})

		function loadData() {
			$("#Pagination").empty();
			postRegular('withdrawalChildWithSuperSiteId', {
				page: vm.page,
				rows: vm.pageSize,
				filterSiteName: vm.filterSiteName,
				filterLowsManName: vm.filterLowsManName,
				siteId: siteId,
				type: type,
				queryTime: currentMonth,
			}, function(data) {
				$('#app').show();
				vm.datalist = data.object.withdrawalList;
				for(var i = 0; i < vm.datalist.length; i++) {
					var obj = vm.datalist[i];
					obj.id = vm.page * 10 + i + 1;
				}

				vm.itemCount = data.object.withdrawalCount;
				$('.allPage').html(Math.ceil(data.object.withdrawalCount / vm.pageSize));
				$("#Pagination").pagination(data.object.withdrawalCount / vm.pageSize, {
					callback: function(page) { // 回调函数
						vm.page = page;
						loadPageData();
					}
				});
				setTimeout(function() {
					$('tr:even:gt(0)').addClass('tr_even'); //默认偶数行背景色，无视标题行用:gt(0)
					$('tr:odd').addClass('tr_odd'); //默认奇数数行背景色

				}, 50);
			}, function() {

			})
		}
		loadData();

		function loadPageData() {
			postRegular('withdrawalChildWithSuperSiteId', {
				page: vm.page,
				rows: vm.pageSize,
				filterSiteName: vm.filterSiteName,
				filterLowsManName: vm.filterLowsManName,
				siteId: siteId,
				type: type,
				queryTime: currentMonth,
			}, function(data) {
				vm.datalist = data.object.withdrawalList;
				for(var i = 0; i < vm.datalist.length; i++) {
					var obj = vm.datalist[i];
					obj.id = vm.page * 10 + i + 1;
				}
				setTimeout(function() {
					$('tr:even:gt(0)').addClass('tr_even'); //默认偶数行背景色，无视标题行用:gt(0)
					$('tr:odd').addClass('tr_odd'); //默认奇数数行背景色

				}, 50);
			})
		}

		function transfer(itemId, type, siteName, fee) {
			var searchUrl = encodeURI('withdrawalListDriver.html?siteId=' + itemId + '&type=' + type + '&siteName=' + siteName + '&fee=' + fee + '&currentMonth=' + currentMonth);
			window.location = searchUrl;
		}

		//跳转至站点详情
		function jumpToSite(siteId, $event) {
			$event.stopPropagation();
			window.open("../site/siteDetail.html?siteId=" + siteId);
		}
	</script>

</html>