<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<link rel="icon" href="../img/logo2.ico" type="img/x-ico" />
		<link rel="stylesheet" href="../css/iconfont.css">
		<link rel="stylesheet" href="../css/loading.css">
		<link rel="stylesheet" href="../css/navHead.css">

		<link rel="stylesheet" href="../css/pagination.css" />

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="../js/jquery.kwicks-1.5.1.pack.js"></script>

		<script type="text/javascript" src="../js/vue.min.js"></script>

		<script type="text/javascript" src="../js/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/exif.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GACUAWBtBPYEAs9iYdmkl5zdAMXMcgUp"></script>
		<script type="text/javascript" src="../js/config.js"></script>

	</head>

	<body>
		<div id="app" hidden>
			<div style="background: #27303f;height: 50%;width: 100%;">
				<div class="nameAndTimeDiv">
					<div class="bigTitleDiv">{{carTypeName}}</div>
					<div class="timeDiv">
						<div class="createTimeDiv">创建时间：{{datetransform(createTime)}}</div>
						<div id="appointTimeDiv" class="createTimeDiv none">预约时间：{{datetransform(appointTime)}}</div>
						<div class="createTimeDiv">更新时间：{{datetransform(updateTime)}}</div>
					</div>
				</div>

				<div class="detailBaseInfoDiv">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv" style=" font-size: 25px;">订单类型：</div>
						<div class="detailvalueDiv" style="color: yellow; font-size: 25px;">{{type=='1'?"实时":"预约"}}</div>
					</div>

				</div>

				<div class="detailBaseInfoDiv" style="margin-top: 5px;">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">订单状态：</div>
						<div class="detailvalueDiv">{{judgeOrderStatus(status, appointStatus, type)}}</div>
					</div>

					<div v-if="siteComplaintId != null" class="detailKeyValueDiv">
						<div class="detailKeyDiv" style="color: red;">订单被货主投诉</div>
					</div>

					<div v-if="driverComplaintId != null" class="detailKeyValueDiv">
						<div class="detailKeyDiv" style="color: red;">订单被司机投诉</div>
					</div>
				</div>

				<div class="detailBaseInfoDiv">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">下单人：</div>
						<div class="detailvalueDiv">
							<a @click="openMasterItemDetailPage(createManId)" class="zhandianTiaozhuan">{{createManName}}</a>
						</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">评分：</div>
						<div class="detailvalueDiv">{{createManScore.toFixed(1)}}</div>
					</div>
				</div>

				<div class="detailBaseInfoDiv">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">发货地址：</div>
						<div class="detailvalueDiv">{{sendDetailAddress}}{{sendAddress}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">发货人：</div>
						<div class="detailvalueDiv">{{linkMan}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">发货人电话：</div>
						<div class="detailvalueDiv">{{linkPhone}}</div>
					</div>
				</div>

				<div class="detailBaseInfoDiv">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">收货地址：</div>
						<div class="detailvalueDiv">{{receiveDetailAddress}}{{receiveAddress}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">收货人：</div>
						<div class="detailvalueDiv">{{receiveMan}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">收货人电话：</div>
						<div class="detailvalueDiv">{{receivePhone}}</div>
					</div>
				</div>

				<div class="detailBaseInfoDiv">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">订单备注：</div>
						<div class="detailvalueDiv">{{note == ''?"无":note}}</div>
					</div>
				</div>

				<br>

				<div class="detailBaseInfoDiv" style="padding-bottom: 10px;padding-top: 10px;">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv" style="font-size: 30px;">车牌号：</div>
						<div class="detailvalueDiv" style="font-size: 30px;color: yellow;">{{plateNumber == null ? "未被接单" : plateNumber}}</div>
					</div>
				</div>

				<div class="detailBaseInfoDiv" style="margin-top: 5px;">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">司机姓名：</div>
						<div class="detailvalueDiv zhandianTiaozhuanDiv">
							<a v-if="nickname == null" style="text-decoration:none" class="zhandianTiaozhuan">暂无</a>
							<a v-else @click="openDriverItemDetailPage(driverId)" class="zhandianTiaozhuan">{{nickname}}</a>
						</div>
					</div>
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv">司机电话：</div>
						<div class="detailvalueDiv">{{phoneNumber == null ? "暂无" : phoneNumber}}</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv"> 司机评分：</div>
						<div class="detailvalueDiv">{{nickname == null ? "暂无" : score.toFixed(1)}}</div>
					</div>

				</div>

				<div class="detailBaseInfoDiv" style="padding-bottom: 10px;padding-top: 20px;">
					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv" style="font-size: 20px;">订单距离：</div>
						<div class="detailvalueDiv" style="font-size: 20px;">{{distance}} 公里</div>
					</div>

					<div class="detailKeyValueDiv">
						<div class="detailKeyDiv" style="font-size: 20px;">订单费用：</div>
						<div class="detailvalueDiv" style="font-size: 20px;">{{price}} 元</div>
					</div>
				</div>
			</div>
		</div>
		<div id="mapView" style="width: 100%;height: 500px;">

		</div>

	</body>

	<script>
		var orderId = getQueryString("orderId");

		function loadOrderDetailData() {
			postRegular('getBigOrderInfo', {
				orderId: orderId,
			}, function(data) {
				console.log(data);
				$('#app').show();
				vm.status = data.object.status;
				vm.type = data.object.type;
				vm.appointStatus = data.object.appointStatus;
				vm.invoiceId = data.object.invoiceId;
				vm.linkMan = data.object.linkMan;
				vm.linkPhone = data.object.linkPhone;
				vm.receiveMan = data.object.receiveMan;
				vm.receivePhone = data.object.receivePhone;
				vm.carTypeName = data.object.carTypeName;
				vm.note = data.object.note;
				vm.sendAddress = data.object.sendAddress;
				vm.sendDetailAddress = data.object.sendDetailAddress;
				vm.sendLatitude = data.object.sendLatitude;
				vm.sendLongitude = data.object.sendLongitude;
				vm.receiveAddress = data.object.receiveAddress;
				vm.receiveDetailAddress = data.object.receiveDetailAddress;
				vm.receiveLatitude = data.object.receiveLatitude;
				vm.receiveLongitude = data.object.receiveLongitude;
				vm.price = data.object.price;
				vm.distance = data.object.distance;
				vm.createTime = data.object.createTime;
				vm.updateTime = data.object.updateTime;
				vm.appointTime = data.object.appointTime;
				vm.phoneNumber = data.object.phoneNumber;
				vm.plateNumber = data.object.plateNumber;
				vm.nickname = data.object.nickname;
				vm.driverId = data.object.driverId;
				vm.score = data.object.score;
				vm.siteComplaintId = data.object.siteComplaintId;
				vm.driverComplaintId = data.object.driverComplaintId;
				vm.createManName = data.object.createManName;
				vm.createManScore = data.object.createManScore;
				vm.createManId = data.object.createManId;
				
				if(vm.type == '2') {
					$('#appointTimeDiv').removeClass('none');
				}

				var myIconBegin = new BMap.Icon("../img/begin.png", new BMap.Size(23, 35), {
					// 指定定位位置。   
					// 当标注显示在地图上时，其所指向的地理位置距离图标左上    
					// 角各偏移10像素和25像素。您可以看到在本例中该位置即是   
					// 图标中央下端的尖角位置。    
					anchor: new BMap.Size(12, 35),
					// 设置图片偏移。   
					// 当您需要从一幅较大的图片中截取某部分作为标注图标时，您   
					// 需要指定大图的偏移位置，此做法与css sprites技术类似。    
					//					imageOffset: new BMap.Size(30, 20) // 设置图片偏移    
				});

				var pointBegin = new BMap.Point(vm.sendLongitude, vm.sendLatitude); // 创建点坐标
				var marker1 = new BMap.Marker(pointBegin, {
					icon: myIconBegin
				}); // 创建标注
				map.addOverlay(marker1);
				marker1.addEventListener("click", function() {
					message(this, "起点");
				});

				var myIconEnd = new BMap.Icon("../img/end.png", new BMap.Size(23, 35), {
					anchor: new BMap.Size(12, 35),
				});
				var pointEnd = new BMap.Point(vm.receiveLongitude, vm.receiveLatitude); // 创建点坐标
				var marker2 = new BMap.Marker(pointEnd, {
					icon: myIconEnd
				}); // 创建标注
				map.addOverlay(marker2);
				marker2.addEventListener("click", function() {
					message(this, "终点");
				});

				BMapSetPointCenterWithPoint(vm.sendLatitude, vm.sendLongitude, vm.receiveLatitude, vm.receiveLongitude);

			}, function() {})
		}

		function message(obj, anObject) {
			var opts = {
				width: 0, // 信息窗口宽度    
				height: 0, // 信息窗口高度
				title: "<div style='color:orange;'>" + anObject + "</div>"
			}
			var firstLineStr = vm.receiveDetailAddress + vm.receiveAddress;
			var secondLineStr = vm.receiveLongitude.toFixed(3);
			var thirdLineStr = vm.receiveLatitude.toFixed(3);
			if(anObject == '起点') {
				firstLineStr = vm.sendDetailAddress + vm.sendAddress;
				secondLineStr = vm.sendLongitude.toFixed(3);
				thirdLineStr = vm.sendLatitude.toFixed(3);
			}
			var infoWindow = new BMap.InfoWindow("<div>" + firstLineStr + "</div>" +
				"<div style='color:gray;'>经度：" + secondLineStr + "</div>" +
				"<div style='color:gray;'>纬度：" + thirdLineStr + "</div>", opts); // 创建信息窗口对象
			obj.openInfoWindow(infoWindow, map.getCenter());
		}

		var vm = new Vue({
			el: '#app',
			data: {
				status: '',
				type: '',
				appointStatus: '',
				invoiceId: '',
				linkMan: '',
				linkPhone: '',
				receiveMan: '',
				receivePhone: '',
				carTypeName: '',
				note: '',
				sendAddress: '',
				sendDetailAddress: '',
				sendLatitude: 0,
				sendLongitude: 0,
				receiveAddress: '',
				receiveDetailAddress: '',
				receiveLatitude: 0,
				receiveLongitude: 0,
				price: '',
				distance: '',
				siteComplaintId: '',
				driverComplaintId: '',

				createTime: '',
				updateTime: '',
				appointTime: '',

				phoneNumber: '',
				nickname: '',
				plateNumber: '',
				score: 0,
				driverId: '',

				createManName: '',
				createManScore: 0,
				createManId: '',

			},
			methods: {}
		})

		var map = new BMap.Map("mapView"); // 创建地图实例  
		var point = new BMap.Point(116.405419, 39.915378); // 创建点坐标  
		map.centerAndZoom(point, 12); // 初始化地图，设置中心点坐标和地图级别  
		map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
		map.addControl(new BMap.NavigationControl());
		map.addControl(new BMap.ScaleControl());
		map.addControl(new BMap.OverviewMapControl());
		loadOrderDetailData();

		//点击查看详情
		function openDriverItemDetailPage(masterId) {
			window.open("../driver/driverDetail.html?driverId=" + masterId);
		}

		function openMasterItemDetailPage(masterId) {
			window.open("../master/masterDetail.html?masterId=" + masterId);
		}
	</script>

</html>